{
  "openapi": "3.1.0",
  "info": {
    "title": "开放平台接口",
    "description": "倍市得开放平台是基于倍市得CEM中台基础能力打造的开发平台，企业和生态伙伴可以通过倍市得开放平台，将内部的信息系统延伸、整合到统一的移动入口及web入口，快速帮助企业实现客户体验管理数字化。",
    "version": "v1",
    "contact": {
      "name": "ray",
      "email": "dongchen.lei@idiaoyan.com"
    }
  },
  "externalDocs": {
    "description": "开放平台接口文档",
    "url": "https://www.bestcem.com/openplatform/documentcenter/"
  },
  "servers": [
    {
      "url": "https://autoopen.xm-mysql.bestcem.com",
      "description": "测试环境"
    },
    {
      "url": "https://autoopen.xm-pre.bestcem.com",
      "description": "预发环境"
    },
    {
      "url": "https://autoopen.bestcem.com",
      "description": "正式环境"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "definitions": {},
  "paths": {
    "/api/open/v1/aes/test": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "AES加解密测试"
        ],
        "summary": "AES加解密测试",
        "description": null,
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "description": "加密或解密结果",
                          "example": "encrypted_or_decrypted_data"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AES_KEY": {
                    "type": "string",
                    "description": "AES加密密钥",
                    "example": "your_aes_key_here"
                  },
                  "type": {
                    "type": "string",
                    "description": "操作类型，encode为加密，decode为解密",
                    "example": "encode"
                  },
                  "data": {
                    "type": "string",
                    "description": "要加密或解密的数据",
                    "example": "cJ4YDOatuA+dKo5sySQTvUZLgTVd3c0N7yaXQLhRKZnmPZhPNZvUL0oRuSXZSfNJrTKHbgf5wl2wQZs8T2Hpbg=="
                  }
                },
                "required": [
                  "AES_KEY",
                  "type"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v1/deliver/third/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "投放"
        ],
        "summary": "获取投放链接",
        "description": "\n        第三方系统获取倍市得问卷链接并投放到目标触点（用于事件触发场景）\n        ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "总条数",
                          "example": 18
                        },
                        "rows": {
                          "type": "array",
                          "description": "投放链接总数",
                          "example": [
                            {
                              "link_total": 100,
                              "link_rows": [
                                {
                                  "level_code": "",
                                  "title": "",
                                  "link": "https://bestcem.com/t/5RXAPI",
                                  "survey_id": "6074030daace7000091bea32",
                                  "deliver_id": "60740312f9f4f6001bcf6aec",
                                  "type": 0
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "survey_id": {
                    "type": "string",
                    "description": "问卷ID，可以是单个ID或ID列表",
                    "example": "507f1f77bcf86cd799439011"
                  },
                  "status": {
                    "type": "integer",
                    "description": "状态，可选参数",
                    "example": 1
                  },
                  "page": {
                    "type": "integer",
                    "description": "页码，默认值为1",
                    "example": 1
                  },
                  "rowsPerPage": {
                    "type": "integer",
                    "description": "每页行数，默认值为10",
                    "example": 10
                  },
                  "ttype": {
                    "type": "integer",
                    "description": "类型，可选参数，区分总部或门店",
                    "example": 1
                  }
                },
                "required": [
                  "survey_id"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v1/survey/third/([a-fA-F0-9]{24})?": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "投放"
        ],
        "summary": "外部链接",
        "description": "\n        处理第三方系统访问问卷的链接跳转\n        ",
        "parameters": [
          {
            "in": "path",
            "name": "survey_id",
            "type": "string",
            "required": true,
            "description": "路径参数: survey_id"
          },
          {
            "in": "query",
            "name": "sign",
            "schema": {
              "type": "string"
            },
            "description": "签名",
            "example": null,
            "required": true
          },
          {
            "in": "query",
            "name": "nonce",
            "schema": {
              "type": "string"
            },
            "description": "随机数",
            "example": null,
            "required": true
          },
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "description": "投放代码",
            "example": null,
            "required": true
          },
          {
            "in": "query",
            "name": "deliver_id",
            "schema": {
              "type": "string"
            },
            "description": "投放ID",
            "example": null,
            "required": true
          },
          {
            "in": "query",
            "name": "org_code",
            "schema": {
              "type": "string"
            },
            "description": "组织代码",
            "example": null,
            "required": true
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            },
            "description": "来源",
            "example": null
          },
          {
            "in": "query",
            "name": "scenes",
            "schema": {
              "type": "string"
            },
            "description": "场景",
            "example": null
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "string",
                      "description": "响应结果",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open/v1/deliver/wechatmp/event_delivery/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "投放"
        ],
        "summary": "微信公众号事件投放触发",
        "description": "\n        通过此接口可以触发在系统中已配置过的微信投放 - 事件投放。\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "deliver_id",
            "schema": {
              "type": "string"
            },
            "description": "事件id",
            "example": null,
            "required": true
          },
          {
            "in": "query",
            "name": "openid",
            "schema": {
              "type": "string"
            },
            "description": "用户在授权的微信公众号中的openid",
            "example": null,
            "required": true
          },
          {
            "in": "query",
            "name": "外部参数key 1",
            "schema": {
              "type": "string"
            },
            "description": "外部参数value 1",
            "example": null
          },
          {
            "in": "query",
            "name": "外部参数key 2",
            "schema": {
              "type": "string"
            },
            "description": "外部参数value 2",
            "example": null
          },
          {
            "in": "query",
            "name": "外部参数key 3",
            "schema": {
              "type": "string"
            },
            "description": "外部参数value 3",
            "example": null
          },
          {
            "in": "query",
            "name": "外部参数key n",
            "schema": {
              "type": "string"
            },
            "description": "外部参数value n",
            "example": null
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "string",
                      "description": "响应结果",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/openplatform/custom/member/individual/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "联系人"
        ],
        "summary": "查询个人联系人V1",
        "description": "\n        通过此接口查询联系人信息，将倍市得的联系人及其标签、扩展字段等同步至您的系统中。\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "create_dt_lte",
            "schema": {
              "type": "string"
            },
            "description": "创建时间结束",
            "example": "2023-12-31 23:59:59"
          },
          {
            "in": "query",
            "name": "create_dt_gte",
            "schema": {
              "type": "string"
            },
            "description": "创建时间开始",
            "example": "2023-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "update_dt_lte",
            "schema": {
              "type": "string"
            },
            "description": "更新时间结束",
            "example": "2023-12-31 23:59:59"
          },
          {
            "in": "query",
            "name": "update_dt_gte",
            "schema": {
              "type": "string"
            },
            "description": "更新时间开始",
            "example": "2023-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "页码",
            "example": 1
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer"
            },
            "description": "每页大小",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "总数量",
                          "example": 100
                        },
                        "members": {
                          "type": "array",
                          "description": "成员列表",
                          "example": [
                            {
                              "id": "6229f93baf63fb223509e94f",
                              "name": "测试",
                              "gender": "男",
                              "email": "xxx@qq.com",
                              "store_id": "60ddd82df9f4f600215f4a97",
                              "open_id": "open_id",
                              "app_id": "app_id",
                              "alipay_user_id": "alipay_user_id",
                              "addresses": [
                                "河北省",
                                "秦皇岛市",
                                "昌黎县",
                                "xx街道"
                              ],
                              "birthday": "2022/05/20",
                              "field_values": [
                                {
                                  "field_name": "field_value"
                                }
                              ],
                              "label_values": [
                                {
                                  "label_name": "label_value"
                                }
                              ],
                              "out_no": "out_no"
                            }
                          ]
                        },
                        "page": {
                          "type": "integer",
                          "description": "当前页码",
                          "example": 1
                        },
                        "size": {
                          "type": "integer",
                          "description": "每页大小",
                          "example": 1000
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "联系人"
        ],
        "summary": "新增/更新联系人V1",
        "description": "\n        新增/更新联系人\n        ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "object",
                          "description": "请求结果",
                          "example": {
                            "message": "Success",
                            "code": 0,
                            "details": []
                          }
                        },
                        "results": {
                          "type": "array",
                          "description": "处理结果列表",
                          "example": [
                            {
                              "success": true,
                              "member": {
                                "id": "6194b9d98328c24f6f09c1b7",
                                "name": "xxxxxx",
                                "gender": "女",
                                "phone": "18925366052",
                                "email": "baiw11@yahoo.com",
                                "open_id": "whgtbf",
                                "app_id": "rjoigp",
                                "alipay_user_id": "grcjlm",
                                "addresses": [
                                  "江西省",
                                  "九江市",
                                  "彭泽县",
                                  "太原街W座"
                                ],
                                "birthday": "2014/06/15",
                                "field_values": [
                                  {
                                    "name": "扩展字段1",
                                    "value": "我是一个扩展字段",
                                    "id": "",
                                    "org_id": "",
                                    "type": 0,
                                    "member_type": 0
                                  }
                                ],
                                "label_values": [
                                  {
                                    "label_name": "修改标签2",
                                    "value": "标签值1",
                                    "id": "",
                                    "label_id": ""
                                  }
                                ],
                                "store_id": "",
                                "nickname": "nickname",
                                "avatar": "avatar",
                                "union_id": "union_id",
                                "out_no": "out_no"
                              },
                              "error_msg": ""
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "array",
                    "description": "成员列表",
                    "example": [
                      {
                        "id": "",
                        "name": "xxxxxx",
                        "gender": "女",
                        "birthday": "2014/06/15",
                        "phone": "18925366052",
                        "email": "baiw11@yahoo.com",
                        "addresses": [
                          "重庆市",
                          "重庆市",
                          "九龙坡区",
                          "周路k座"
                        ],
                        "open_id": "whgtb123f",
                        "app_id": "rjoigp333",
                        "alipay_user_id": "grcjlm",
                        "nickname": "nickname",
                        "avatar": "avatar",
                        "union_id": "union_id",
                        "out_no": "out_no"
                      }
                    ]
                  }
                },
                "required": [
                  "members"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/openplatform/v2/custom/member/individual/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "联系人"
        ],
        "summary": "查询个人联系人V2",
        "description": "\n        通过此接口查询联系人信息，将倍市得的联系人及其标签、扩展字段等同步至您的系统中。\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "create_dt_lte",
            "schema": {
              "type": "string"
            },
            "description": "创建时间结束",
            "example": "2023-12-31 23:59:59"
          },
          {
            "in": "query",
            "name": "create_dt_gte",
            "schema": {
              "type": "string"
            },
            "description": "创建时间开始",
            "example": "2023-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "update_dt_lte",
            "schema": {
              "type": "string"
            },
            "description": "更新时间结束",
            "example": "2023-12-31 23:59:59"
          },
          {
            "in": "query",
            "name": "update_dt_gte",
            "schema": {
              "type": "string"
            },
            "description": "更新时间开始",
            "example": "2023-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "页码",
            "example": 1
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer"
            },
            "description": "每页大小",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "当前页码",
                          "example": 1
                        },
                        "size": {
                          "type": "integer",
                          "description": "每页大小",
                          "example": 1000
                        },
                        "total": {
                          "type": "integer",
                          "description": "总数量",
                          "example": 100
                        },
                        "members": {
                          "type": "array",
                          "description": "成员列表",
                          "example": [
                            {
                              "id": "member_123",
                              "name": "张三",
                              "mobile": "13800138000",
                              "email": "zhangsan@example.com",
                              "birthday": "1990-01-01",
                              "label_values": [],
                              "field_values": []
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "联系人"
        ],
        "summary": "创建个人联系人V2",
        "description": "创建个人联系人V2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "处理结果列表",
                          "example": [
                            {
                              "member": {
                                "id": "member_123",
                                "name": "张三",
                                "mobile": "13800138000",
                                "email": "zhangsan@example.com"
                              },
                              "status": {
                                "code": 1,
                                "message": "success"
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "array",
                    "description": "成员列表",
                    "example": [
                      {
                        "id": "",
                        "name": "xxxxxx",
                        "gender": "男",
                        "birthday": "2014/06/15",
                        "phone": "18925366052",
                        "email": "baiw11@yahoo.com",
                        "addresses": [
                          "重庆市",
                          "重庆市",
                          "九龙坡区",
                          "周路k座"
                        ],
                        "open_id": "whgtb123f",
                        "app_id": "rjoigp333",
                        "alipay_user_id": "grcjlm",
                        "nickname": "nickname",
                        "avatar": "avatar",
                        "union_id": "union_id",
                        "out_no": "out_no"
                      }
                    ]
                  }
                },
                "required": [
                  "members"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/openplatform/custom/member/labels/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "标签"
        ],
        "summary": "查询标签V1",
        "description": "\n        通过此接口查询联系人标签的详细内容。将在倍市得CEM中维护的标签同步至客户的标签管理系统。\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "页数，不传默认为1",
            "example": 1
          },
          {
            "in": "query",
            "name": "rows_per_page",
            "schema": {
              "type": "integer"
            },
            "description": "每页数据量，不传默认为1000",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "标签总数",
                          "example": 1
                        },
                        "labels": {
                          "type": "array",
                          "description": "标签列表",
                          "example": [
                            {
                              "id": "61c537843e2c0c000e99346c",
                              "name": "性别",
                              "auto": true,
                              "group_name": "基础信息",
                              "values": [
                                {
                                  "id": "61c537843e2c0c000e99346c",
                                  "value": "男"
                                },
                                {
                                  "id": "61c537843e2c0c000e99346d",
                                  "value": "女"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "标签"
        ],
        "summary": "创建标签V1",
        "description": "\n        创建标签V1\n        ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "处理结果列表",
                          "example": [
                            {
                              "label": {
                                "id": "label_123",
                                "name": "VIP客户",
                                "color": "#FF0000"
                              },
                              "status": {
                                "code": 1,
                                "message": "success"
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "labels": {
                    "type": "array",
                    "description": "标签列表",
                    "example": [
                      {
                        "name": "VIP客户",
                        "color": "#FF0000",
                        "description": "VIP客户标签"
                      }
                    ]
                  }
                },
                "required": [
                  "labels"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/openplatform/v2/custom/member/labels/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "标签"
        ],
        "summary": "查询标签V2",
        "description": "\n        查询标签V2\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "页数，不传默认为1",
            "example": 1
          },
          {
            "in": "query",
            "name": "rows_per_page",
            "schema": {
              "type": "integer"
            },
            "description": "每页数据量，不传默认为1000",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "标签总数",
                          "example": 1
                        },
                        "labels": {
                          "type": "array",
                          "description": "标签列表",
                          "example": [
                            {
                              "id": "61c537843e2c0c000e99346c",
                              "name": "性别",
                              "auto": true,
                              "group_name": "基础信息",
                              "values": [
                                {
                                  "id": "61c537843e2c0c000e99346c",
                                  "value": "男"
                                },
                                {
                                  "id": "61c537843e2c0c000e99346d",
                                  "value": "女"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open/v1/auth/platform/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "授权凭证"
        ],
        "summary": "授权凭证",
        "description": "\n        access_token是调用所有接口都必需的参数，需要通过此接口来获取。\n        每次获得access_token有效期为2小时，故您可以将此信息缓存值设为2小时，无需每次调用接口都获取一次。\n        ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "访问令牌",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "刷新令牌",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "type": "string",
                    "description": "组织ID",
                    "example": "507f1f77bcf86cd799439011"
                  },
                  "secret_key": {
                    "type": "string",
                    "description": "密钥",
                    "example": "secret123"
                  }
                },
                "required": [
                  "org_id",
                  "secret_key"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v1/organization/([A-Za-z]+)": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "查询租户信息V1",
        "description": "\n        查询租户信息V1\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "instance_id",
            "schema": {
              "type": "string"
            },
            "description": "实例ID",
            "example": "instance_123",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "org_id": {
                          "type": "string",
                          "description": "组织ID",
                          "example": "507f1f77bcf86cd799439011"
                        },
                        "username": {
                          "type": "string",
                          "description": "用户名",
                          "example": "admin"
                        },
                        "expire_dt": {
                          "type": "string",
                          "description": "过期时间",
                          "example": "2023/12/31"
                        },
                        "code": {
                          "type": "string",
                          "description": "组织代码",
                          "example": "TEST001"
                        },
                        "instance_id": {
                          "type": "string",
                          "description": "实例ID",
                          "example": "instance_123"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "手机号",
                          "example": "13800138000"
                        },
                        "email": {
                          "type": "string",
                          "description": "邮箱",
                          "example": "admin@example.com"
                        },
                        "status": {
                          "type": "integer",
                          "description": "状态",
                          "example": 1
                        },
                        "url": {
                          "type": "string",
                          "description": "登录URL",
                          "example": "https://example.com/login"
                        },
                        "secret_key": {
                          "type": "string",
                          "description": "密钥",
                          "example": "secret123"
                        },
                        "aes_key": {
                          "type": "string",
                          "description": "AES密钥",
                          "example": "aes123"
                        },
                        "signature_key": {
                          "type": "string",
                          "description": "签名密钥",
                          "example": "sig123"
                        },
                        "subscribe_enable": {
                          "type": "boolean",
                          "description": "订阅启用",
                          "example": true
                        },
                        "bi_dashboard": {
                          "type": "string",
                          "description": "BI仪表板URL",
                          "example": "https://example.com/bi/dashboard"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "开通租户V1",
        "description": "\n        第三方系统创建租户\n        ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "org_id": {
                          "type": "string",
                          "description": "组织ID",
                          "example": "507f1f77bcf86cd799439011"
                        },
                        "org_code": {
                          "type": "string",
                          "description": "组织代码",
                          "example": "TEST001"
                        },
                        "name": {
                          "type": "string",
                          "description": "组织名称",
                          "example": "测试公司"
                        },
                        "email": {
                          "type": "string",
                          "description": "邮箱",
                          "example": "admin@example.com"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "手机号",
                          "example": "13800138000"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobile": {
                    "type": "string",
                    "description": "手机号",
                    "example": "13800138000"
                  },
                  "email": {
                    "type": "string",
                    "description": "邮箱",
                    "example": "admin@example.com"
                  },
                  "name": {
                    "type": "string",
                    "description": "组织名称",
                    "example": "测试公司"
                  },
                  "code": {
                    "type": "string",
                    "description": "组织代码",
                    "example": "TEST001"
                  },
                  "expire_dt": {
                    "type": "string",
                    "description": "过期时间",
                    "example": "2023-12-31 23:59:59"
                  },
                  "package": {
                    "type": "string",
                    "description": "套餐名称",
                    "example": "基础版"
                  }
                },
                "required": []
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "更新租户信息V1",
        "description": "更新租户信息V1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "description": "操作结果消息",
                          "example": "success"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "type": "string",
                    "description": "组织ID",
                    "example": "507f1f77bcf86cd799439011"
                  },
                  "name": {
                    "type": "string",
                    "description": "组织名称",
                    "example": "测试公司"
                  },
                  "email": {
                    "type": "string",
                    "description": "邮箱",
                    "example": "admin@example.com"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "手机号",
                    "example": "13800138000"
                  },
                  "expire_dt": {
                    "type": "string",
                    "description": "过期时间",
                    "example": "2023-12-31 23:59:59"
                  }
                },
                "required": [
                  "org_id"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v2/organization/([A-Za-z0-9-]+)": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "查询租户信息V2",
        "description": null,
        "parameters": [
          {
            "in": "path",
            "name": "Platform-Code",
            "type": "string",
            "required": true,
            "description": "路径参数: Platform-Code"
          },
          {
            "in": "path",
            "name": "Platform-Sign",
            "type": "string",
            "required": true,
            "description": "路径参数: Platform-Sign"
          },
          {
            "in": "query",
            "name": "instance_id",
            "schema": {
              "type": "string"
            },
            "description": "第三方系统中租户的唯一标识",
            "example": "instance_123",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "租户编码",
                          "example": "xxx1"
                        },
                        "instance_id": {
                          "type": "string",
                          "description": "第三方系统中租户的唯一标识",
                          "example": "aa1c8bd6b2ce45"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "组织ID",
                          "example": "507f1f77bcf86cd799439011"
                        },
                        "app_id": {
                          "type": "string",
                          "description": "应用id",
                          "example": "MtZb0p523y6RTv41b2677u3d"
                        },
                        "status": {
                          "type": "string",
                          "description": "账户状态：(0, 激活中), (1, 已启用), (2, 已禁用)",
                          "example": "1"
                        },
                        "package": {
                          "type": "string",
                          "description": "套餐名",
                          "example": "xxx1"
                        },
                        "expire_dt": {
                          "type": "string",
                          "description": "套餐到期时间，格式：2021/03/23",
                          "example": "2022/04/15"
                        },
                        "username": {
                          "type": "string",
                          "description": "系统管理员的账号名",
                          "example": "superadmin"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "手机号",
                          "example": "13800138000"
                        },
                        "email": {
                          "type": "string",
                          "description": "邮箱",
                          "example": "admin@example.com"
                        },
                        "secret_key": {
                          "type": "string",
                          "description": "配合org_id获取access_token",
                          "example": "E8at1i262xcYi50si02u629m1Q6m2pkRc707490E6DQ47cSH5E6BM19t2r4CUJ18"
                        },
                        "aes_key": {
                          "type": "string",
                          "description": "该租户加解密数据的AES_KEY",
                          "example": "d64ESP8mE73t58809meO1dWa4K2T1hWH305Y50t30hX8w51isCBPn4388Q84p4n0"
                        },
                        "url": {
                          "type": "string",
                          "description": "倍市得登录地址",
                          "example": "https://xxx.xm-dev.bestcem.com/login"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "开通租户V2",
        "description": "创建租户V2",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "description": "租户编码，若客户为苹果公司，可为apple_china",
            "example": "xxx1"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "description": "租户名称，如苹果公司",
            "example": "xxx1",
            "required": true
          },
          {
            "in": "query",
            "name": "instance_id",
            "schema": {
              "type": "string"
            },
            "description": "第三方系统中租户的唯一标识，建议和您系统中的对应的id保持一致",
            "example": "测试公司",
            "required": true
          },
          {
            "in": "query",
            "name": "package",
            "schema": {
              "type": "string"
            },
            "description": "套餐名，以具体对接内容为准，不同的合作伙伴可能存在不同的套餐。",
            "example": "基础版",
            "required": true
          },
          {
            "in": "query",
            "name": "expire_dt",
            "schema": {
              "type": "string"
            },
            "description": "套餐到期时间，格式：2021/03/23",
            "example": "2021/03/23"
          },
          {
            "in": "query",
            "name": "mobile",
            "schema": {
              "type": "string"
            },
            "description": "租户系统管理员的手机号",
            "example": "13800138000",
            "required": true
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "租户系统管理员的邮箱",
            "example": "admin@example.com",
            "required": true
          },
          {
            "in": "query",
            "name": "notify",
            "schema": {
              "type": "boolean"
            },
            "description": "账号密码等开户信息是否通过短信和邮件通知租户。True为通知，False为不通知，默认为True。若为False，租户可以通过【忘记密码】来重置密码。",
            "example": true,
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "租户编码",
                          "example": "xxx1"
                        },
                        "instance_id": {
                          "type": "string",
                          "description": "第三方系统中租户的唯一标识",
                          "example": "aa1c8bd6b2ce45"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "组织ID",
                          "example": "507f1f77bcf86cd799439011"
                        },
                        "app_id": {
                          "type": "string",
                          "description": "应用id",
                          "example": "MtZb0p523y6RTv41b2677u3d"
                        },
                        "status": {
                          "type": "string",
                          "description": "账户状态：(0, 激活中), (1, 已启用), (2, 已禁用)",
                          "example": "1"
                        },
                        "package": {
                          "type": "string",
                          "description": "套餐名",
                          "example": "xxx1"
                        },
                        "expire_dt": {
                          "type": "string",
                          "description": "套餐到期时间，格式：2021/03/23",
                          "example": "2022/04/15"
                        },
                        "username": {
                          "type": "string",
                          "description": "系统管理员的账号名",
                          "example": "superadmin"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "手机号",
                          "example": "13800138000"
                        },
                        "email": {
                          "type": "string",
                          "description": "邮箱",
                          "example": "admin@example.com"
                        },
                        "secret_key": {
                          "type": "string",
                          "description": "配合org_id获取access_token",
                          "example": "E8at1i262xcYi50si02u629m1Q6m2pkRc707490E6DQ47cSH5E6BM19t2r4CUJ18"
                        },
                        "aes_key": {
                          "type": "string",
                          "description": "该租户加解密数据的AES_KEY",
                          "example": "d64ESP8mE73t58809meO1dWa4K2T1hWH305Y50t30hX8w51isCBPn4388Q84p4n0"
                        },
                        "url": {
                          "type": "string",
                          "description": "倍市得登录地址",
                          "example": "https://xxx.xm-dev.bestcem.com/login"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "更新租户信息V2",
        "description": "更新租户信息V2",
        "parameters": [
          {
            "in": "path",
            "name": "Platform-Code",
            "type": "string",
            "required": true,
            "description": "路径参数: Platform-Code"
          },
          {
            "in": "path",
            "name": "Platform-Sign",
            "type": "string",
            "required": true,
            "description": "路径参数: Platform-Sign"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "string",
                      "description": "响应结果",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobile": {
                    "type": "string",
                    "description": "系统管理员的手机号",
                    "example": "13812345678"
                  },
                  "email": {
                    "type": "string",
                    "description": "系统管理员的邮箱",
                    "example": "leidongchen@example.com"
                  },
                  "expire_dt": {
                    "type": "string",
                    "description": "套餐到期时间，格式：2021/03/23",
                    "example": "2021/03/23"
                  },
                  "instance_id": {
                    "type": "string",
                    "description": "第三方系统中租户的唯一标识",
                    "example": "instance_123"
                  },
                  "package": {
                    "type": "string",
                    "description": "套餐名",
                    "example": "旗舰版"
                  }
                },
                "required": [
                  "mobile",
                  "instance_id"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v3/organization/([A-Za-z0-9-]+)": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "开通租户V3",
        "description": "\n        开通租户V3\n        ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "租户编码",
                          "example": "xxx1"
                        },
                        "instance_id": {
                          "type": "string",
                          "description": "第三方系统中租户的唯一标识",
                          "example": "aa1c8bd6b2ce45"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "组织ID",
                          "example": "507f1f77bcf86cd799439011"
                        },
                        "app_id": {
                          "type": "string",
                          "description": "应用id",
                          "example": "MtZb0p523y6RTv41b2677u3d"
                        },
                        "status": {
                          "type": "string",
                          "description": "账户状态：(0, 激活中), (1, 已启用), (2, 已禁用)",
                          "example": "1"
                        },
                        "package": {
                          "type": "string",
                          "description": "套餐名",
                          "example": "xxx1"
                        },
                        "expire_dt": {
                          "type": "string",
                          "description": "套餐到期时间，格式：2021/03/23",
                          "example": "2022/04/15"
                        },
                        "username": {
                          "type": "string",
                          "description": "系统管理员的账号名",
                          "example": "superadmin"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "手机号",
                          "example": "13800138000"
                        },
                        "email": {
                          "type": "string",
                          "description": "邮箱",
                          "example": "admin@example.com"
                        },
                        "secret_key": {
                          "type": "string",
                          "description": "配合org_id获取access_token",
                          "example": "E8at1i262xcYi50si02u629m1Q6m2pkRc707490E6DQ47cSH5E6BM19t2r4CUJ18"
                        },
                        "aes_key": {
                          "type": "string",
                          "description": "该租户加解密数据的AES_KEY",
                          "example": "d64ESP8mE73t58809meO1dWa4K2T1hWH305Y50t30hX8w51isCBPn4388Q84p4n0"
                        },
                        "url": {
                          "type": "string",
                          "description": "倍市得登录地址",
                          "example": "https://xxx.xm-dev.bestcem.com/login"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "租户编码，若客户为苹果公司，可为apple_china",
                    "example": "xxx1"
                  },
                  "name": {
                    "type": "string",
                    "description": "租户名称，如苹果公司",
                    "example": "xxx1"
                  },
                  "instance_id": {
                    "type": "string",
                    "description": "第三方系统中租户的唯一标识，建议和您系统中的对应的id保持一致",
                    "example": "测试公司"
                  },
                  "package": {
                    "type": "string",
                    "description": "套餐名，以具体对接内容为准，不同的合作伙伴可能存在不同的套餐。",
                    "example": "基础版"
                  },
                  "expire_dt": {
                    "type": "string",
                    "description": "套餐到期时间，格式：2021/03/23",
                    "example": "2021/03/23"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "租户系统管理员的手机号",
                    "example": "13800138000"
                  },
                  "email": {
                    "type": "string",
                    "description": "租户系统管理员的邮箱",
                    "example": "admin@example.com"
                  },
                  "notify": {
                    "type": "boolean",
                    "description": "账号密码等开户信息是否通过短信和邮件通知租户。True为通知，False为不通知，默认为True。若为False，租户可以通过【忘记密码】来重置密码。",
                    "example": true
                  }
                },
                "required": [
                  "name",
                  "instance_id",
                  "package",
                  "mobile",
                  "email",
                  "notify"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v1/platform/organization/quota/([A-Za-z0-9-]+)": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "查询累计问卷/答卷数V1",
        "description": "\n        此API用于查看合作伙伴的某个租户下，所有的问卷/答卷数的用量情况。\n        合作伙伴可以通过该信息，在售前/售后获得租户使用情况的总览，以方便针对性的采取销售动作； 另外，合作伙伴的产品中，可以将目前的用量展示给试用租户。\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "org_id",
            "schema": {
              "type": "string"
            },
            "description": "租户id",
            "example": "507f1f77bcf86cd799439011"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "分页页码，默认1",
            "example": 1
          },
          {
            "in": "query",
            "name": "rowsPerPage",
            "schema": {
              "type": "integer"
            },
            "description": "每页数据条数，默认10。",
            "example": 10
          },
          {
            "in": "query",
            "name": "project_gt",
            "schema": {
              "type": "integer"
            },
            "description": "累计问卷数左端点",
            "example": 0
          },
          {
            "in": "query",
            "name": "project_lte",
            "schema": {
              "type": "integer"
            },
            "description": "累计问卷数右端点",
            "example": 100
          },
          {
            "in": "query",
            "name": "respondent_gt",
            "schema": {
              "type": "integer"
            },
            "description": "累计答卷数左端点",
            "example": 0
          },
          {
            "in": "query",
            "name": "respondent_lte",
            "schema": {
              "type": "integer"
            },
            "description": "累计答卷数右端点",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "总数量",
                          "example": 100
                        },
                        "rows": {
                          "type": "array",
                          "description": "配额信息列表",
                          "example": [
                            {
                              "org_id": "507f1f77bcf86cd799439011",
                              "org_code": "TEST001",
                              "org_name": "测试公司",
                              "project_count": 10,
                              "respondent_count": 500,
                              "quota_limit": 1000
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open/v2/platform/organization/quota/([A-Za-z0-9-]+)": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "合作伙伴专属接口"
        ],
        "summary": "查询累计问卷/答卷数V2",
        "description": null,
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "页码",
            "example": 1
          },
          {
            "in": "query",
            "name": "rows_per_page",
            "schema": {
              "type": "integer"
            },
            "description": "每页数据条数，默认为10",
            "example": 10
          },
          {
            "in": "query",
            "name": "project_gt",
            "schema": {
              "type": "integer"
            },
            "description": "累计问卷数左端点",
            "example": 0
          },
          {
            "in": "query",
            "name": "project_lte",
            "schema": {
              "type": "integer"
            },
            "description": "累计问卷右端点",
            "example": 100
          },
          {
            "in": "query",
            "name": "respondent_gt",
            "schema": {
              "type": "integer"
            },
            "description": "累计答卷数左端点",
            "example": 0
          },
          {
            "in": "query",
            "name": "respondent_lte",
            "schema": {
              "type": "integer"
            },
            "description": "累计答卷数右端点",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "总数量",
                          "example": 100
                        },
                        "rows": {
                          "type": "array",
                          "description": "配额信息列表",
                          "example": [
                            {
                              "org_id": "507f1f77bcf86cd799439011",
                              "org_code": "TEST001",
                              "org_name": "测试公司",
                              "project_count": 10,
                              "respondent_count": 500,
                              "quota_limit": 1000
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open/v1/event/subscribe/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "事件订阅"
        ],
        "summary": "事件订阅",
        "description": "\n        开启事件订阅:\n        如需使用推送到不同的地方，请使用不同app_id的access_token。\n        调用此API时(包括关闭)，服务端会尝试请求请求参数中\"api\"对应的API路径，当请求失败时会返回错误代码。\n        ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "description": "操作结果消息",
                          "example": "success"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "type": "string",
                    "description": "组织ID",
                    "example": "507f1f77bcf86cd799439011"
                  },
                  "subscribe": {
                    "type": "object",
                    "description": "订阅信息",
                    "example": {
                      "enable": true,
                      "api": "https://example.com/webhook"
                    }
                  }
                },
                "required": [
                  "org_id"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/hello/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "问卷中心"
        ],
        "summary": "问候消息",
        "description": null,
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "问候消息",
                          "example": "Hello world"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open/v1/project/([a-fA-F0-9]{24})?": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "问卷中心"
        ],
        "summary": "获取问卷项目清单V1",
        "description": "\n        该接口可以获取【问卷项目】中的问卷清单。项目清单会显示每个问卷项目的基本情况，如需提取问卷内容请参照【获取问卷内容详情】去获取单一问卷的详细情况。\n        ",
        "parameters": [
          {
            "in": "query",
            "name": "uid",
            "schema": {
              "type": "string"
            },
            "description": "用户ID",
            "example": "507f1f77bcf86cd799439011"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "页码",
            "example": 1
          },
          {
            "in": "query",
            "name": "rowsPerPage",
            "schema": {
              "type": "integer"
            },
            "description": "每页行数",
            "example": 10
          },
          {
            "in": "query",
            "name": "start_udt",
            "schema": {
              "type": "string"
            },
            "description": "开始更新时间",
            "example": "2023-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "end_udt",
            "schema": {
              "type": "string"
            },
            "description": "结束更新时间",
            "example": "2023-12-31 23:59:59"
          },
          {
            "in": "query",
            "name": "re_title",
            "schema": {
              "type": "string"
            },
            "description": "标题正则表达式",
            "example": "问卷"
          },
          {
            "in": "query",
            "name": "survey_id",
            "schema": {
              "type": "string"
            },
            "description": "问卷ID",
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "总数量",
                          "example": 100
                        },
                        "rows": {
                          "type": "list",
                          "description": "问卷列表",
                          "example": [
                            {
                              "creator_uid": "6051b75e5fe46683c18b70b0",
                              "survey_id": "6051ca30aace70000909fcd0",
                              "survey_name": "有工单和二次投放",
                              "release_version": 3,
                              "status": 1,
                              "fcount": 6,
                              "deliver_types": [
                                "短信",
                                "二维码"
                              ],
                              "preview_link": "https://xm-dev.bestcem.com/s/survey/6051ca30aace70000909fcd0?source=1&scenes=0&org_code=xxx&deliver_id=None&signature=00a129d3ec2c90ae8b0ef3d800d0f66d",
                              "edit_link": "https://xxx.xm-dev.bestcem.com/survey/edit/6051ca30aace70000909fcd0/survey",
                              "response_link": "https://xxx.xm-dev.bestcem.com/record/6051ca30aace70000909fcd0/surveyviewtable",
                              "survey_data_board_link": "https://xxx.xm-dev.bestcem.com/record/6051ca30aace70000909fcd0/surveyreport",
                              "custom_attr": {
                                "begin_time": "",
                                "end_time": ""
                              },
                              "create_dt": "2021-03-17 17:21:52.903000",
                              "update_dt": "2021-03-29 10:26:17.473000"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open/v2/project/([a-fA-F0-9]{24})?": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "问卷中心"
        ],
        "summary": "获取问卷项目清单V2",
        "description": "通过此接口可以获取问卷项目清单，显示每个问卷项目的基本情况。如需获取单一问卷的详细情况，请参阅【API】获取问卷内容详情 。",
        "parameters": [
          {
            "in": "query",
            "name": "creator_uid",
            "schema": {
              "type": "string"
            },
            "description": "创建者用户ID",
            "example": "507f1f77bcf86cd799439011"
          },
          {
            "in": "query",
            "name": "collaborator_uid",
            "schema": {
              "type": "string"
            },
            "description": "协作者用户ID",
            "example": "507f1f77bcf86cd799439012"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "页码",
            "example": 1
          },
          {
            "in": "query",
            "name": "rows_per_page",
            "schema": {
              "type": "integer"
            },
            "description": "每页行数",
            "example": 10
          },
          {
            "in": "query",
            "name": "start_udt",
            "schema": {
              "type": "string"
            },
            "description": "开始更新时间",
            "example": "2023-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "end_udt",
            "schema": {
              "type": "string"
            },
            "description": "结束更新时间",
            "example": "2023-12-31 23:59:59"
          },
          {
            "in": "query",
            "name": "re_title",
            "schema": {
              "type": "string"
            },
            "description": "标题正则表达式",
            "example": "问卷"
          },
          {
            "in": "query",
            "name": "survey_id",
            "schema": {
              "type": "string"
            },
            "description": "问卷ID",
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "总数量",
                          "example": 100
                        },
                        "rows": {
                          "type": "array",
                          "description": "问卷列表",
                          "example": [
                            {
                              "creator_uid": "6051b75e5fe46683c18b70b0",
                              "survey_id": "6051ca30aace70000909fcd0",
                              "survey_name": "有工单和二次投放",
                              "release_version": 3,
                              "status": 1,
                              "fcount": 6,
                              "deliver_types": [
                                "短信",
                                "二维码"
                              ],
                              "preview_link": "https://xm-dev.bestcem.com/s/survey/6051ca30aace70000909fcd0?source=1&scenes=0&org_code=xxx&deliver_id=None&signature=00a129d3ec2c90ae8b0ef3d800d0f66d",
                              "edit_link": "https://xxx.xm-dev.bestcem.com/survey/edit/6051ca30aace70000909fcd0/survey",
                              "response_link": "https://xxx.xm-dev.bestcem.com/record/6051ca30aace70000909fcd0/surveyviewtable",
                              "survey_data_board_link": "https://xxx.xm-dev.bestcem.com/record/6051ca30aace70000909fcd0/surveyreport",
                              "custom_attr": {
                                "begin_time": "",
                                "end_time": ""
                              },
                              "create_dt": "2021-03-17 17:21:52.903000",
                              "update_dt": "2021-03-29 10:26:17.473000"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open/v1/project/copy/([a-fA-F0-9]{24})?": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "问卷中心"
        ],
        "summary": "复制问卷项目V1",
        "description": "此接口用于复制问卷项目，复制的问卷项目可以和原项目同名。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "description": "创建者uid",
                          "example": "6051b75e5fe46683c18b70b0"
                        },
                        "survey_id": {
                          "type": "string",
                          "description": "问卷id",
                          "example": "6051ca30aace70000909fcd0"
                        },
                        "survey_name": {
                          "type": "string",
                          "description": "问卷名称",
                          "example": "有工单和二次投放"
                        },
                        "status": {
                          "type": "integer",
                          "description": "问卷状态",
                          "example": 1
                        },
                        "deliver_types": {
                          "type": "array",
                          "description": "该问卷已有的投放方式",
                          "example": [
                            "短信",
                            "二维码"
                          ]
                        },
                        "customAttr": {
                          "type": "object",
                          "description": "设置属性",
                          "example": {
                            "begin_time": "",
                            "end_time": ""
                          }
                        },
                        "preview_link": {
                          "type": "string",
                          "description": "问卷预览链接",
                          "example": "https://xm-dev.bestcem.com/s/survey/6051ca30aace70000909fcd0?source=1&scenes=0&org_code=xxx&deliver_id=None&signature=00a129d3ec2c90ae8b0ef3d800d0f66d"
                        },
                        "edit_link": {
                          "type": "string",
                          "description": "问卷编辑链接",
                          "example": "https://xxx.xm-dev.bestcem.com/survey/edit/6051ca30aace70000909fcd0/survey"
                        },
                        "response_link": {
                          "type": "string",
                          "description": "问卷分析结果链接（答卷数据页）",
                          "example": "https://xxx.xm-dev.bestcem.com/record/6051ca30aace70000909fcd0/surveyviewtable"
                        },
                        "fcount": {
                          "type": "integer",
                          "description": "答卷数量",
                          "example": 6
                        },
                        "createDT": {
                          "type": "string",
                          "description": "问卷创建时间",
                          "example": "2021-03-17 17:21:52.903000"
                        },
                        "updateDT": {
                          "type": "string",
                          "description": "问卷更新时间",
                          "example": "2021-03-29 10:26:17.473000"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "问卷标题",
                    "example": "客户满意度调查"
                  },
                  "survey_id": {
                    "type": "string",
                    "description": "问卷ID",
                    "example": "507f1f77bcf86cd799439011"
                  }
                },
                "required": [
                  "title",
                  "survey_id"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v2/project/copy/([a-fA-F0-9]{24})?": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "问卷中心"
        ],
        "summary": "复制问卷项目V2",
        "description": "复制问卷项目V2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "creator_uid": {
                          "type": "string",
                          "description": "创建者uid",
                          "example": "6051b75e5fe46683c18b70b0"
                        },
                        "survey_id": {
                          "type": "string",
                          "description": "问卷id",
                          "example": "6051ca30aace70000909fcd0"
                        },
                        "survey_name": {
                          "type": "string",
                          "description": "问卷名称",
                          "example": "有工单和二次投放"
                        },
                        "status": {
                          "type": "integer",
                          "description": "问卷状态",
                          "example": 1
                        },
                        "deliver_types": {
                          "type": "array",
                          "description": "该问卷已有的投放方式",
                          "example": [
                            "短信",
                            "二维码"
                          ]
                        },
                        "custom_attr": {
                          "type": "object",
                          "description": "设置属性",
                          "example": {
                            "begin_time": "",
                            "end_time": ""
                          }
                        },
                        "preview_link": {
                          "type": "string",
                          "description": "问卷预览链接",
                          "example": "https://xm-dev.bestcem.com/s/survey/6051ca30aace70000909fcd0?source=1&scenes=0&org_code=xxx&deliver_id=None&signature=00a129d3ec2c90ae8b0ef3d800d0f66d"
                        },
                        "edit_link": {
                          "type": "string",
                          "description": "问卷编辑链接",
                          "example": "https://xxx.xm-dev.bestcem.com/survey/edit/6051ca30aace70000909fcd0/survey"
                        },
                        "response_link": {
                          "type": "string",
                          "description": "问卷分析结果链接（答卷数据页）",
                          "example": "https://xxx.xm-dev.bestcem.com/record/6051ca30aace70000909fcd0/surveyviewtable"
                        },
                        "fcount": {
                          "type": "integer",
                          "description": "答卷数量",
                          "example": 6
                        },
                        "create_dt": {
                          "type": "string",
                          "description": "问卷创建时间",
                          "example": "2021-03-17 17:21:52.903000"
                        },
                        "update_dt": {
                          "type": "string",
                          "description": "问卷更新时间",
                          "example": "2021-03-29 10:26:17.473000"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "问卷标题",
                    "example": "客户满意度调查"
                  },
                  "survey_id": {
                    "type": "string",
                    "description": "问卷ID",
                    "example": "507f1f77bcf86cd799439011"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/open/v1/project/data/export/([a-fA-F0-9]{24})?": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "答卷数据"
        ],
        "summary": "导出答卷数据-excel格式",
        "description": "通过此接口可以导出所选答卷的数据，导出的数据类型为xlsx或txt，取决于ex_type入参。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "description": "调用状态（success，failed）",
                          "example": "success"
                        },
                        "task_id": {
                          "type": "string",
                          "description": "数据导出任务id",
                          "example": "507f1f77bcf86cd799439011"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "survey_id": {
                    "type": "string",
                    "description": "问卷ID",
                    "example": "507f1f77bcf86cd799439011"
                  },
                  "call_back": {
                    "type": "string",
                    "description": "回调地址",
                    "example": "https://example.com/callback"
                  },
                  "rspd_st_gte": {
                    "type": "string",
                    "description": "答卷答题开始时间大于等于(\"年月日时分秒\"，例如\"20210617151800\")",
                    "example": "20221001151800"
                  },
                  "rspd_st_lt": {
                    "type": "string",
                    "description": "答卷答题开始时间小于(\"年月日时分秒\"，例如\"20210617151800\")",
                    "example": "20221101151800"
                  },
                  "rspd_ed_gte": {
                    "type": "string",
                    "description": "答卷答题结束时间大于等于(\"年月日时分秒\"，例如\"20210617151800\")",
                    "example": "20221001151800"
                  },
                  "rspd_ed_lt": {
                    "type": "string",
                    "description": "答卷答题结束时间小于(\"年月日时分秒\"，例如\"20210617151800\")",
                    "example": "20221101151800"
                  },
                  "ex_type": {
                    "type": "integer",
                    "description": "导出类型",
                    "example": 0
                  }
                },
                "required": [
[...]
